<a href="https://colab.research.google.com/github/Tisha-Kalra/ml/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON

In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])
df.head()

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [5]:
df.to_csv(' Test1.csv')

In [6]:
type(df.loc['Row1'])

pandas.core.series.Series

In [7]:
df.iloc[2:,:]

      Column1  Column2  Column3  Coumn4
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [8]:
#converting dataframes to arrays
df.iloc[:,:].values
df.iloc[:,2:].values

array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15],
       [18, 19]])

In [9]:
#CHECKING THE NULL CONDITION
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       Column1  Column2  Column3  Coumn4
Row1    False    False    False   False
Row2    False    False    False   False
Row3    False    False    False   False
Row4    False    False    False   False
Row5    False    False    False   False>

In [10]:
#to check counts and unique values
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [11]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [12]:
df[['Column1','Column2']].value_counts()

Column1  Column2
0        1          1
4        5          1
8        9          1
12       13         1
16       17         1
dtype: int64

In [13]:
for i in range(100,1001):
    if i%7==0 and i%9==0:
        print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

import random as r
num=r.randint(600,801)
print(num)
f=1
for i in range(2,num//2+1):
        if (num%i==0):
                f=0
                print("not prime")
                break
if (f==1):
  print(i)

In [24]:
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
pd.read_json(Data)

In [21]:
df1=pd.read_json(Data)

In [22]:
df1

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [26]:
df1.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

**Json to different json format**

In [28]:
df1.to_json(orient="records")

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

**READING HTML CONTENT(WEB SCRAPING)**

In [47]:
url='https://en.wikipedia.org/wiki/Mobile_country_code'
df2=pd.read_html(url,match='Status',header=0)

In [48]:
df2[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[4]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[4]"

**READING EXCEL FILES AND PICKLING**

In [54]:
see in anaconda

NameError: ignored